<div class="footer">
    <div class="text-left">
        <span>{{ BOTNAME }} © 2019 - <a target="_blank" href="/changelog">Changelog</a> </span>
        <span class="small label label-info pull-right">{{ BOT_VERSION }} </span>
    </div>
</div>